<mat-nav-list>
  <a mat-list-item [routerLink]="['trips']" (click)="onSidenavClose()">
    <span class="nav-caption">Trips</span>
  </a>
  <a mat-list-item [routerLink]="['destinations']" (click)="onSidenavClose()">
    <span class="nav-caption">Destinations</span>
  </a>
  <a mat-list-item *ngIf="!( isAuth$ | async )" [routerLink]="['auth','signup']" (click)="onSidenavClose()">
    <span>Register</span>
  </a>
  <a mat-list-item *ngIf="!( isAuth$ | async )" [routerLink]="['auth','signin']" (click)="onSidenavClose()">
    <span>Login</span>
  </a>
  <a mat-list-item *ngIf="( isAuth$ | async )" [routerLink]="['auth','signup']" (click)="onSidenavClose()">
    <span>My Profile</span>
  </a>
  <a mat-list-item *ngIf="( isAuth$ | async )" (click)="onLogout()">
    <span>Logout</span>
  </a>
</mat-nav-list>