<mat-nav-list>
  <a mat-list-item [routerLink]="['trips']" (click)="onSidenavClose()">
    <span class="nav-caption">Trips</span>
  </a>
  <a mat-list-item [routerLink]="['destinations']" (click)="onSidenavClose()">
    <span class="nav-caption">Destinations</span>
  </a>
  <a mat-list-item [routerLink]="['auth','signin']" (click)="onSidenavClose()">
    <span>Login</span>
  </a>
  <!-- <mat-list-item>
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item> -->
</mat-nav-list>