<section class="signup-form">
  <form  fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" [formGroup]="signupForm" (ngSubmit)="onLogin()">
    <mat-form-field>
      <input matInput type="text" formControlName="agencyName" placeholder="Name of your agency">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" formControlName="agencyEmail" placeholder="Email Id of your agency">
    </mat-form-field>
    <div formGroupName="agencyPhone" fxLayout fxLayoutGap="10px" class="phone">
      <mat-form-field class="country-code">
        <input matInput type="text" formControlName="countryCode" placeholder="Country code">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" formControlName="contactNo" placeholder="Contact no.">
      </mat-form-field>
    </div>
    <mat-form-field hintLabel="Should be atleast 8 characters long">
      <input matInput type="password" formControlName="password" placeholder="Your password">
      <mat-error>Invalid or missing password!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm password">
      <mat-error>Passwords doesn't match</mat-error>
    </mat-form-field>
    <mat-checkbox color="primary" formControlName="agreedTerms">Agree to terms and conditions.</mat-checkbox>
    <button mat-raised-button color="primary" type="submit" [disabled]="!signupForm.valid">Register</button>
  </form>
</section>
