a {
    text-decoration: none;
    color: white;
}
.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}
mat-toolbar {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}
.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
    font-size: 1rem;
    font-weight: 500;
}
.logo .mat-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}