<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="logo">
    <a routerLink="/">The Travels App</a>
  </div>
  <div class="nav-list" fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li>
        <button routerLink="/trips" mat-button>Trips</button>
      </li>
      <li>
        <button routerLink="/destinations" mat-button>Destinations</button>
      </li>
      <li>
        <!-- <button routerLink = "/auth/signin" mat-button>You</button> -->
        <button mat-button [matMenuTriggerFor]="menu">You</button>
        <mat-menu #menu="matMenu">
          <button *ngIf="!( isAuth$ | async )" routerLink = "/auth/signup" mat-menu-item>Register</button>
          <button *ngIf="!( isAuth$ | async )" routerLink = "/auth/signin" mat-menu-item>Login</button>
          <button *ngIf="( isAuth$ | async )" mat-menu-item>My Profile</button>
          <button *ngIf="( isAuth$ | async )" (click)= "onLogout()" mat-menu-item>Logout</button>
        </mat-menu>
      </li>
    </ul>
  </div>
</mat-toolbar>
