a {
    text-decoration: none;
    color: white;
}
.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}
mat-toolbar {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}
.mat-button {
    font-size: 1rem;
    font-weight: 500;
}
.logo .mat-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}
form {
    width: 100%;
}
mat-form-field {
    font-size: 1rem;
}
input[type=text] {
    color: white;
    caret-color: white;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
}
input[type=text]::-webkit-input-placeholder {
    color: white;
}